<p>
    <img src="/discord/name_purple.png" height="42">
</p>

<p class="ps">
    To create apps and expand your usage of <strong>xivapi.com</strong>,
    please login using your Discord account. You can then create apps to
    get API keys that will greatly increase your limits to the service!
</p>

<br>

<p>
    <a href="{{ path('app_login_discord') }}" class="btn btn-primary btn-lg btn-discord">
        <img src="/discord/logo_white.png" height="52">Login via Discord
    </a>
</p>
