<div>

    <h3>applications</h3>

    {% if auth.user %}
        <p>
            Create applications to obtain <strong>xivapi.com</strong>
            keys and increase your API limits.
        </p>
    {% else %}
        <p>Login using <strong>Discord</strong> to create your <strong>xivapi.com</strong> apps and generate API keys.</p>
    {% endif %}

    <br><hr><br>

    <p>Join the discord channel to keep up to date with changes and new features</p>
    <p><a href="https://discord.gg/MFFVHWC" class="btn btn-outline-light">Join DISCORD</a></p>

</div>
