{% extends "base.html.twig"  %}
{% block title %}Statistics{% endblock %}

{% block body %}

    <div class="two-pane">

        <aside>
            <h3>Queue</h3>

            <span>
                <p>Rabbit MQ Stats</p>
            </span>

        </aside>

        <main class="stats">
            <h1>Statistics</h1>

            {{ dump(stats) }}
        </main>

    </div>

{% endblock %}
