{% extends 'market/base.html.twig' %}

{% block body %}

    <div align="center">
        <br><br><br><br>

        When you click an item in the search results, give the page time to load.
        <br><br>
        The companion app is not exactly renowned for its speed.
        <br><br><br><br>
        <small>THIS IS A CONCEPT (PHOENIX ONLY)</small>
    </div>

{% endblock %}
