{% extends "base.html.twig"  %}

{% block doc %}

    <h1>Third Party Tools</h1>

    <h2>Saint Coinach</h2>
    <p><a href="https://github.com/ufx/SaintCoinach">https://github.com/ufx/SaintCoinach</a></p>
    <p>About</p>

    <h2>Saint Coinach Schema</h2>
    <p><a href="https://github.com/ufx/SaintCoinach/blob/master/SaintCoinach/ex.json">https://github.com/ufx/SaintCoinach/blob/master/SaintCoinach/ex.json</a></p>
    <p>The schema is a huge JSON file that describes the EXD files found in the FFXIV game files.
        Many community members take time to datamine and understand the way the EXD files are mapped and
        this file helps describe it in a universal format.</p>

{% endblock %}
